@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.my-main-contain {
    padding: 5px 0 10px 0;
    animation-name: bot-to-top;
    animation-duration: 1s;
}
@keyframes bot-to-top {
    from {
        margin-top: 25px;
        opacity: 0.5;
    }
    to {
        margin-top: 0%;
        opacity: 1;
    }
}
